{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["firefox >= 75", "chrome >= 80", "ios >= 13.4"]
      },
      "debug": true
    }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        ["transform-remove-console", { "exclude": [ "error", "warn"] }]
      ]
    }
  }
}
